# Sao chép file này thành ".env.local" và điền giá trị lấy từ
# Supabase Dashboard > Project Settings > API

NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
